:root {
  --icon-colors-primary: #fff;
  --icon-colors-secondry: #000;
  --code-icon-color:#304ffd;
}
.dark-mode {
  --icon-colors-primary: #000;
  --icon-colors-secondry: #fff;
}
.svg-common-properties {
  fill: var(--icon-colors-secondry);
  width: 25px;
}
.scroll--header .menuAndTheme-icons {
  fill: var(--icon-colors-secondry);
}
.menuAndTheme-icons {
  fill: var(--icon-colors-primary);
}
header [data-visible="true"] .menuAndTheme-icons {
  fill: var(--icon-colors-secondry);
}
.icons-onNav {
  fill: var(--icon-colors-secondry);
}
.socialMedia-icons {
  fill: var(--icon-colors-secondry);
}
#code-icon {
  fill: var(--code-icon-color);
}
footer .svg-common-properties {
  fill: var(--icon-colors-primary);
}