*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: var(--h1-font-size);
    color: var(--logo-color);
}
h1 span {
    color: var(--primary-color);
}
header {
    display: flex; 
    justify-content: space-between;
    padding-top: 0.3em;
}
.btn--theme,
.btn--menu {
    padding: 0.3em;
    height: fit-content;
}
.header--navigation {
    transform: translatey(-110%);
}
nav ul {
    display: flex;
    flex-direction: column;
}
.home section div:first-child{
    height: 12rem;
    background-color: var(--primary-color);
}